{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<li class="nav-item dropdown">
    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
       class="nav-link dropdown-toggle d-flex align-items-center">
        <i class="fa fa-language mr-1"></i>
        <span>{{ LANGUAGE_CODE|upper }}</span>
    </a>

    <div class="dropdown-menu dropdown-menu-right shadow">
        <a href="/en/" class="dropdown-item {% if LANGUAGE_CODE == 'en' %}active font-weight-bold{% endif %}">
            🇬🇧 English
        </a>
        <a href="/am/" class="dropdown-item {% if LANGUAGE_CODE == 'am' %}active font-weight-bold{% endif %}">
            🇪🇹 አማርኛ (Amharic)
        </a>
        <a href="/om/" class="dropdown-item {% if LANGUAGE_CODE == 'om' %}active font-weight-bold{% endif %}">
            🌳 Afaan Oromoo (Oromo)
        </a>
        <a href="/ti/" class="dropdown-item {% if LANGUAGE_CODE == 'ti' %}active font-weight-bold{% endif %}">
            ⛰️ ትግርኛ (Tigrinya)
        </a>
    </div>
</li>